html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 4rem 0;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

// * {
//   box-sizing: border-box;
// }

.button {
  cursor: pointer;
  border: none;
  background: $navy;
  color: $white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .3s ease-in-out;

  &:hover {
    background: $white;
    color: $navy;
  }
}