html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

section {
  padding: 4rem 0;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

// * {
//   box-sizing: border-box;
// }