.dashboard {
  background: linear-gradient(45deg, #6e2bd3, #6e2bd3 0, #b73587 48%, #fe7077 87%, #fe7077 0, #ffc18e);
}

.overview__heading {
  background: $navy;
  color: $grey;
  padding: 20px;
  border-radius: 5px 5px 0 0;

  span {
    color: $white;
  }

  p {
    font-size: 1.3rem;
  }
}

.overview__body {
  background: $lightNavy;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
  color: $white;

  p {
    font-size: 1.3rem;
    color: $grey;
  }
}

.overview {

  .overview__section {
    width: 300px;
  }

  .overview__user {
    width: 100%;
  }

  .overview__stats {
    column-count: 3;
    width: 100%;

    .section {
      padding-bottom: 10px;
    }

  }
}

.dashboard__body {
  display: flex;
  width: 100%;

  .dashboard__chart {
    width: 30%;
    margin-right: 20px;
  }

  .dashboard__summary {
    width: 70%;
  }
}