.features {
  padding: 15rem 0;
  color: #fff;
  background: linear-gradient(45deg, #5922ad, #9c2770);
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);

  .features__heading {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10px;
  }

  .features__copy {
    text-align: center;
    width: 40rem;
    margin: 0 auto;
  }

  .features-group__container {
    justify-content: space-around;
    padding: 4rem 0;
    display: flex;
    // text-align: center;
  }

  .features__group {
    width: 80%;
    column-count: 3;
    list-style: none;
    font-size: 1.6rem;
    line-height: 1.7;

    li:before {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url('../images/tick.svg');
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: contain;
      position: relative;
      top: 5px;
      left: -10px;
    }
  }

  .cta-section {
    text-align: center;
  }

  .button-signup {
    background: #FFC107;
    color: #212121;
    display: inline-block;
  }

}