@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

p,
a {
  font-size: 1.6rem;
}