.header {
  // padding: 12rem 0;
  background: linear-gradient(to bottom, $navy, #49054e);
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;


  .copy-section,
  .lottie-section {
    width: 100%;
  }


  .header__heading {
    font-size: 4rem;
    margin-bottom: 10px;
  }

  .header__copy {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  .header-button {
    background: #FFC107;
    color: #212121;
  }
}