.spending-limit {
  // background: #f6f5f5;
  // clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);

  .spending-limit__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .spending-limit__heading {
    font-size: 4rem;
    margin-bottom: 10px;
  }

  .spending-limit__copy {
    margin: 0 auto;
  }

  .benefit__group {
    width: 100%;
  }

  .copy-section,
  .lottie-section {
    width: 100%;
  }

  .lottie-section {
    max-width: 300px;
  }

  .lottie-container {
    padding: 4rem 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 660px) {
  .spending-limit {
    .spending-limit__container {
      text-align: left;
      flex-direction: row;
    }

    .lottie-section {
      max-width: 100%;
    }
  }
}