@import 'variables.scss';
@import 'fonts.scss';
@import 'base.scss';
@import 'navbar.scss';
@import 'footer.scss';
@import 'login.scss';
@import 'register.scss';
@import 'dashboard.scss';
@import 'monthly-expenses.scss';
@import 'expenses.scss';
@import 'dreams.scss';