// base
@import 'variables.scss';
@import 'fonts.scss';
@import 'base.scss';

// layouts
@import 'layout/navbar.scss';
@import 'layout/footer.scss';
@import 'layout/loader.scss';

// auth
@import 'auth/login.scss';
@import 'auth/register.scss';

// Landing
@import 'landing/landing.scss';
@import 'landing/benefits.scss';
@import 'landing/call-to-action';
@import 'landing/dreams.scss';
@import 'landing/goals.scss';
@import 'landing/tracking-expenses.scss';
@import 'landing/spending-limit.scss';
@import 'landing/features.scss';

// Dashboard page
@import 'dashboard/dashboard.scss';
@import 'dashboard/monthly-expenses.scss';
@import 'dashboard/expenses.scss';

// pages
@import './profile/index'