@import 'styles/variables/_breakpoints.scss';
@import 'styles/variables/_colours.scss';
@import 'styles/variables/_gradients.scss';

.auth-form.register {
  background: linear-gradient(135deg, #bb00e8, #00bceb);
}