.alert-container {
  position: relative;
  height: 0;
  z-index: 400;
}

.alert {
  padding: 20px 50px;
  position: relative;
  max-width: 960px;
  width: 90%;
  margin: 0 auto 10px;
  color: #fff;
  font-size: 1.6rem;
  top: 0;
}

.alert-danger {
  background: linear-gradient(135deg, #ff001e, #990002 100%, #7db9e8 0);
}

.alert-success {
  background: linear-gradient(135deg, #39a969, #00F268 100%, #7db9e8 0);

}