@import '../../../styles/variables/_colours.scss';

.navbar {
  background: $navy;
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 170px;
      height: 27px;
    }

    .menu-list {
      display: flex;
      padding: 0;
      list-style: none;

      a {
        color: $white;
        text-decoration: none;
        margin-left: 2rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}