@import 'styles/variables/_colours.scss';
@import 'styles/variables/_gradients.scss';

.loader {
  width: 100%;
  min-height: calc(100vh - 318px);
  color: $white;
  background: $rainbowGradient;
  background-size: 400% 400%;
  animation: gradientBG 5s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}