@import 'dreams-form';
@import 'edit-goal';

.goals-overview {
  min-height: calc(100vh - 318px);

  .goals__container {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

    .lottie-container {
      max-width: 200px;
      max-height: 203px;
      margin: 20px auto 0;
    }
  }

  .goals__heading {
    font-size: 4rem;
  }

  .goals__copy {
    font-size: 1.6rem;
  }

  .card__container {
    display: flex;
    flex-wrap: wrap;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .card__link {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
  }

  .card {
    width: 100%;
    height: 200px;
    opacity: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    color: #212121;
    box-shadow: 0px 0px 9px 0 rgba(0, 0, 0, 0.03);
    padding: 20px;
    transition: background .2s ease-in-out, color .2s ease-in-out;

    &:hover {
      background: $navy;
      color: #fff;

      .button-container {
        .button-secondary {
          border: 1px solid #fff;
          color: #fff;

          &:hover {
            background: #fff;
            color: $navy;
          }
        }

        .button-tertiary {
          color: #fff;

          &:hover {
            color: #f36f6d;
          }
        }
      }
    }

  }

  .button-container {
    opacity: 1;
    margin-top: 10px;
    transition: opacity .3s ease-in-out;

    div {
      margin: 0;
    }

    .button-secondary {
      background: transparent;
      border: 1px solid $navy;
      color: $navy;
    }

    .button-tertiary {
      background: transparent;
      border: none;
      color: $navy;
      text-decoration: underline;
    }
  }

  .card__new-goal .card {
    color: #212121;
    background: #f4f4f4;
    border: 3px dashed #212121;

    .plus-icon {
      width: 34px;
      height: 42px;
    }

    // &:hover {
    //   background: #fff;
    // }


  }

  .card__name {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 10px;
  }

  .card__target {
    font-size: 1.2rem;
  }

  .card__saved {
    font-size: 1.2rem;
  }


}

@media screen and (min-width: 660px) {
  .card__container {
    .card__link {
      width: calc(50% - 20px);
    }

  }
}

@media screen and (min-width: 860px) {
  .card__container {
    .card__link {
      width: calc(33% - 20px);
    }
  }
}