.dashboard {
  background: linear-gradient(45deg, #6e2bd3, #6e2bd3 0, #b73587 48%, #fe7077 87%, #fe7077 0, #ffc18e);
}

.welcome-animation {
  width: 350px;
  margin: 0 auto 30px;
  ;
}

.overview__heading {
  background: $navy;
  color: $grey;
  padding: 20px;
  border-radius: 5px 5px 0 0;

  span {
    color: $white;
  }

  p {
    font-size: 1.3rem;
  }
}

.overview__body {
  background: $lightNavy;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
  color: $white;

  p {
    font-size: 1.3rem;
    color: $grey;

    span {
      color: $white;
      text-decoration: underline;
    }
  }
}

.overview {

  .overview__section {
    width: 300px;
  }

  .overview__user {
    width: 100%;
  }

  .overview__stats {
    column-count: 1;
    width: 100%;

    .section {
      padding-bottom: 10px;
    }

  }
}

.dashboard__body {
  display: flex;
  flex-direction: column;
  width: 100%;

  .overview__body {
    height: 228px;
  }

  .dashboard__chart {
    width: 100%;
    margin-right: 20px;
  }

  .dashboard__summary {
    width: 100%;
  }
}

.chart__container {
  padding: 20px 0;
  width: 100% !important;
  position: relative;
}

@media screen and (min-width: 560px) {
  .overview {
    .overview__stats {
      column-count: 2;
    }
  }
}

@media screen and (min-width: 760px) {
  .overview {
    .overview__stats {
      column-count: 3;
    }
  }

  .dashboard__body {
    flex-direction: row;

    .dashboard__chart {
      width: 30%;
    }

    .dashboard__summary {
      width: 70%;
    }
  }
}