.monthly-expenses {
  padding: 50px 0;
  background: #fff;
  color: #222;

  .monthly-expenses__body {
    background: #f3f3f3;
    padding: 30px 0;
    border-radius: 5px;
  }

  h1 {
    font-size: 1.8rem;
    padding: 0 30px 5px;
    font-weight: 700;
  }

  p {
    color: #717171;
    font-size: 1.2rem;
    padding: 0 30px 14px;
  }

  hr {
    border-top: 1px solid #dadada;
  }

  table {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    margin: 20px 0;

    tr:nth-child(1) {
      font-size: 1.7rem;
      font-weight: 400;
    }

    tr:hover {
      background: #eee;
    }

    tbody tr.bills {
      height: 60px;

    }

    tbody tr td:first-child,
    tbody tr th:first-child,
      {
      padding-left: 30px;
    }


    th,
    td {
      font-weight: 400;
      // padding: 0 30px;
      cursor: pointer;
    }

    th {
      pointer-events: auto;
    }
  }

  .bill {
    color: #717171;
    height: 40px;
  }

  .bill.paid {
    background: #eee;
    text-decoration: line-through;

    td:last-child {
      border-right: 10px solid #00c58c;
    }
  }

  .monthly-expenses__button {
    padding: 30px;
  }

  .button {
    background: $navy;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
  }

  .button-success:hover {
    background: #00c58c;
    color: #fff;
  }

  .button-warning:hover {
    background: red;
    color: #fff;
  }

  .button-secondary {
    border: 1px solid #263149;
    background: none;
    color: #263149;
    text-align: center;
  }

  .button-tertiary {
    background: transparent;
    color: #263149;
    text-decoration: underline;
    padding: 0;

    &:hover {
      color: #ee0000;
    }
  }

  form {
    display: flex;
    font-size: 1.4rem;
    margin-bottom: 20px;
    flex-direction: column;

    div.form-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;

      input {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .monthly-expenses {
    form {
      flex-direction: row;

      input {
        margin-bottom: 0;
      }
    }
  }
}