.login {
  min-height: calc(100vh - 402px);
  background: linear-gradient(135deg, #00bceb, #00f4c3);
  display: flex;
  color: #fff;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login__container {
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 5px;
    transition: background .2s ease-in-out;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    h2 {
      font-size: 26px;
    }

    p {
      font-size: 1.3rem;
    }

    form {
      margin: 20px 0 0;
    }

    input {
      width: 100%;
      border: none;
      padding: 6px 0 6px 10px;
      height: 38px;
      font-size: 1.6rem;
      margin: 5px 0 20px;
      box-sizing: border-box;

      &:focus {
        background: #fff;
      }
    }

    label {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 1.6rem;
      color: #fff;
    }

    input[type="checkbox"] {
      display: inline-block;
      width: auto;
      height: auto;
      margin-left: 10px;
    }

    // button {
    //   background: $navy;
    //   color: $white;
    //   padding: 30px;
    // }



  }
}