@import 'styles/variables/_breakpoints.scss';
@import 'styles/variables/_gradients.scss';
@import 'styles/variables/_colours.scss';

.call-to-action {
  background-image: $mainGradient;
  color: #fff;
  text-align: center;

  .container {
    div {
      width: 100%;
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 20px;
  }

  .button {
    background: $yellow;
    color: $black;
    &:hover {
      background: darken($yellow, 10%);
    }
  }
}