.benefits {
  .benefits__heading {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .benefits__copy {
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
  }

  .benefits-group__container {
    display: none;
    justify-content: space-around;
    padding: 4rem 0;
  }

  .benefit__group {
    width: 100%;
  }

  .lottie-container {
    padding: 4rem 0;
    max-width: 300px;
    margin: 0 auto;
  }
}