$mainGradient: linear-gradient(45deg, #6e2bd3, #6e2bd3 0, #b73587 48%, #fe7077 87%, #fe7077 0, #ffc18e);
$rainbowGradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$darkPurpleGradient: linear-gradient(to bottom, #263149, #49054e);
$lightBlueGradient: linear-gradient(135deg, #00bceb, #00f4c3);