@import 'styles/variables/_breakpoints.scss';
@import 'styles/variables/_colours.scss';

.features {
  padding: 5rem 0;
  color: #fff;
  background: linear-gradient(45deg, $purple, $maroon);

  @include tablet-and-up {
    padding: 15rem 0;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
  }

  .features-list {
    justify-content: space-around;
    padding: 4rem 0;
    display: flex;

    ul {
      margin: 0 auto;
      left: 0;
      right: 0;
      width: auto;
      column-count: 1;
      list-style: none;
      font-size: 1.6rem;
      line-height: 1.7;
      padding: 0;

      @include tablet {
        column-count: 2;
      }

      @include desktop {
        width: 80%;
        column-count: 3;
      }
  
      li:before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url('../../../assets/images/tick.svg');
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: contain;
        position: relative;
        top: 5px;
        left: -10px;
      }
    }
  }


  .cta-section {
    text-align: center;
  }

  .button-signup {
    background: $yellow;
    color: $black;
    &:hover {
      background: darken($yellow, 10%);
    }
  }
}
