@import 'styles/variables/_breakpoints.scss';
@import 'styles/variables/_colours.scss';
@import 'styles/variables/_gradients.scss';

.header {
  background: $darkPurpleGradient;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;

    @include tablet-and-up {
      flex-direction: row;
    }
  
    div {
      width: 100%;
    }
  
    h1 {
      margin-bottom: 1rem;
    }
  
    p {
      margin-bottom: 3rem;
    }
  
    .header-button {
      background: $yellow;
      color: $black;
      
      &:hover {
        background: darken($yellow, 10%);

      }
    }
  }
}