@import '../../../styles/variables/_breakpoints.scss';
@import '../../../styles/variables/_colours.scss';

.expenses {
  padding: 50px 0;
  background: linear-gradient(45deg, #5fa9fd, #5bc7fe 20%, #b069ea);

}

.month-picker {
  padding: 20px 0;
  text-align: center;
}

.month-previous,
.month-next,
.month-displayer {
  padding: 18px 20px;
  display: inline-block;
  color: #fff;
  background: $navy;
  font-size: 1.4rem;
}

.month-previous {
  // padding-left: 30px;
  border-radius: 5px 0 0 5px;
}

.month-next {
  // padding-right: 30px;
  border-radius: 0 5px 5px 0;
}

.month-previous,
.month-next {
  background: #151b27;
  position: relative;
  cursor: pointer;
}

.month-picker-arrows {
  width: 7px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.month-previous .month-picker-arrows {
  left: 18px;
}

.month-next .month-picker-arrows {
  right: 18px;
}

.expenses__body {
  color: #fff;
  border-radius: 5px;
  padding: 0 20px;

  h1 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 5px;
  }

  p {
    font-size: 1.2rem;
    padding-bottom: 14px;
  }

  hr {
    border-top: 1px solid #dadada;
    border-bottom: none;
    margin-bottom: 14px;
  }

  table {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    margin: 20px 0;

    tr:nth-child(1) {
      font-size: 1.7rem;
      font-weight: 700;
    }

    // tr:hover {
    //   background: #eee;
    // }

    tbody tr {
      height: 40px;

    }


    th,
    td {
      font-weight: 400;
      // padding: 0 30px;
      cursor: pointer;
    }

    th {
      pointer-events: auto;
    }
  }

  .monthly-expenses__button {
    padding: 30px 0;
  }

  .button {
    background: $navy;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
  }

  .button-success:hover {
    background: #00c58c;
    color: #fff;
  }

  .button-warning:hover {
    background: red;
    color: #fff;
  }

  .button-secondary {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    text-align: center;

    &:hover {
      background: $navy;
      border: 1px solid $navy;
    }
  }

  .button-tertiary {
    background: transparent;
    color: #fff;
    text-decoration: underline;
    padding: 0;

    &:hover {
      color: #ee0000;
    }
  }

  form {
    display: flex;
    font-size: 1.4rem;
    margin-bottom: 20px;
    flex-direction: column;

    div.form-section-calendar {

      label {
        display: block;
        margin-bottom: 5px;
      }
    }


    div.form-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;

      input {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 1.6rem;
      }


      // .SingleDatePicker {
      //   margin-top: 5px;
      // }
    }
  }

  // Airbnb calendar
  .DateInput_input {
    padding: 5px 5px 0;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    // width: 100%;
    // display: block;
  }
}

.CalendarDay:hover {
  // background: #FFC107 !important;
  background: $grey !important;
  color: #fff !important;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: $navy !important;
  border: 1px double $navy !important;
  color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-top: 26px solid transparent;
  border-right: 33px solid $navy !important;
}

.DayPickerKeyboardShortcuts_panel {
  color: $navy !important;
}



@media screen and (min-width: 660px) {
  .expenses {
    form {
      flex-direction: row;

      input {
        margin-bottom: 0;
      }
    }
  }
}